#login-dp{
    min-width: 300px;
    padding: 1px 1px;
    background-color:grey;
}
#login-dp-up{
    min-width: 400px;
    padding: 1px 1px;
    background-color:grey;
}
#titulo-signin{
      color:black;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
