#s-0adc0d0d-d474-4a05-a461-d49d05d59657 #s-sing-in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0adc0d0d-d474-4a05-a461-d49d05d59657 #s-sing-up {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0adc0d0d-d474-4a05-a461-d49d05d59657 #s-inicio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0adc0d0d-d474-4a05-a461-d49d05d59657 #s-sobreNosotros {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0adc0d0d-d474-4a05-a461-d49d05d59657 #s-contacto {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0adc0d0d-d474-4a05-a461-d49d05d59657 #s-tarifas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0adc0d0d-d474-4a05-a461-d49d05d59657 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0adc0d0d-d474-4a05-a461-d49d05d59657 #s-Boton_lognin {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0adc0d0d-d474-4a05-a461-d49d05d59657 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}