#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-up {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-inicio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sobreNosotros {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-contacto {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-tarifas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}