#s-279954f7-20a9-4949-bb18-71eed3ace4c1 > #backgroundBox {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/1876d0e0-c46c-4ae0-9441-33536022b821.jpg');
  position: absolute;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-in {
  position: absolute;
  top: 109px;
  left: 286px;
  width: 96px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-in .valign {
  vertical-align: middle;
  text-align: center;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-in span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-in span#rtr-s-sing-in_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-up {
  position: absolute;
  top: 109px;
  left: 661px;
  width: 83px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-up .valign {
  vertical-align: middle;
  text-align: center;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-up span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-up span#rtr-s-sing-up_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-inicio {
  position: absolute;
  top: 654px;
  left: 245px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-inicio .valign {
  vertical-align: middle;
  text-align: center;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-inicio span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-inicio span#rtr-s-inicio_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sobreNosotros {
  position: absolute;
  top: 654px;
  left: 360px;
  width: 172px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sobreNosotros .valign {
  vertical-align: middle;
  text-align: center;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sobreNosotros span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sobreNosotros span#rtr-s-sobreNosotros_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-contacto {
  position: absolute;
  top: 654px;
  left: 564px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-contacto .valign {
  vertical-align: middle;
  text-align: center;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-contacto span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-contacto span#rtr-s-contacto_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-tarifas {
  position: absolute;
  top: 654px;
  left: 694px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-tarifas .valign {
  vertical-align: middle;
  text-align: center;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-tarifas span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-tarifas span#rtr-s-tarifas_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-Rectangle_1 {
  position: absolute;
  top: 299px;
  left: 253px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  width: 460px;
  height: 104px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  opacity: 0.85;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-Rectangle_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 16.0pt;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-Rectangle_1 span#rtr-s-Rectangle_1_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}