#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-in {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sing-up {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-inicio {
  -ms-transform: rotate(0.0deg);
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-sobreNosotros {
  -ms-transform: rotate(0.0deg);
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-contacto {
  -ms-transform: rotate(0.0deg);
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-tarifas {
  -ms-transform: rotate(0.0deg);
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
  -ms-transform: rotate(0.0deg);
}
#s-279954f7-20a9-4949-bb18-71eed3ace4c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}