#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-up {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-inicio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sobreNosotros {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-contacto {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-tarifas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78) ;
  filter: alpha(opacity=78) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78) ;
  filter: alpha(opacity=78) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78) ;
  filter: alpha(opacity=78) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}