#s-49e58b48-4959-48e8-9074-648656eabaff > #backgroundBox {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/1876d0e0-c46c-4ae0-9441-33536022b821.jpg');
  position: absolute;
}
#s-49e58b48-4959-48e8-9074-648656eabaff > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-in {
  position: absolute;
  top: 109px;
  left: 286px;
  width: 96px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-in .valign {
  vertical-align: middle;
  text-align: center;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-in span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-in span#rtr-s-sing-in_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-up {
  position: absolute;
  top: 109px;
  left: 661px;
  width: 83px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-up .valign {
  vertical-align: middle;
  text-align: center;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-up span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-up span#rtr-s-sing-up_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-inicio {
  position: absolute;
  top: 654px;
  left: 245px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-inicio .valign {
  vertical-align: middle;
  text-align: center;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-inicio span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-inicio span#rtr-s-inicio_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sobreNosotros {
  position: absolute;
  top: 654px;
  left: 360px;
  width: 172px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sobreNosotros .valign {
  vertical-align: middle;
  text-align: center;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sobreNosotros span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sobreNosotros span#rtr-s-sobreNosotros_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-contacto {
  position: absolute;
  top: 654px;
  left: 564px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-contacto .valign {
  vertical-align: middle;
  text-align: center;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-contacto span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-contacto span#rtr-s-contacto_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-tarifas {
  position: absolute;
  top: 654px;
  left: 694px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-tarifas .valign {
  vertical-align: middle;
  text-align: center;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-tarifas span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-tarifas span#rtr-s-tarifas_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_1 {
  position: absolute;
  top: 204px;
  left: 109px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  width: 474px;
  height: 356px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 40px 40px 40px 40px;
  opacity: 0.78;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_1 span {
  color: #FECB6E;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FECB6E;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #FECB6E;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_1 span#rtr-s-Rectangle_1_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_3 {
  position: absolute;
  top: 204px;
  left: 661px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  width: 173px;
  height: 138px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 18px 18px 18px 18px;
  opacity: 0.78;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_3 span {
  color: #FECB6E;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FECB6E;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_4 {
  position: absolute;
  top: 418px;
  left: 661px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  width: 173px;
  height: 142px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 19px 19px 19px 19px;
  opacity: 0.78;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_4 span {
  color: #FECB6E;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FECB6E;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-49e58b48-4959-48e8-9074-648656eabaff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}