#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-in {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sing-up {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-inicio {
  -ms-transform: rotate(0.0deg);
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-sobreNosotros {
  -ms-transform: rotate(0.0deg);
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-contacto {
  -ms-transform: rotate(0.0deg);
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-tarifas {
  -ms-transform: rotate(0.0deg);
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 40px 40px 40px 40px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
  filter: alpha(opacity=78);
  -ms-transform: rotate(0.0deg);
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 18px 18px 18px 18px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
  filter: alpha(opacity=78);
  -ms-transform: rotate(0.0deg);
}
#s-49e58b48-4959-48e8-9074-648656eabaff #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 19px 19px 19px 19px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
  filter: alpha(opacity=78);
  -ms-transform: rotate(0.0deg);
}
#s-49e58b48-4959-48e8-9074-648656eabaff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}