#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-PieDePagina {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Eventos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Facebook {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Eventos_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4e0d04f7-77a5-4f16-b75a-3f1c16cb2376 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}