#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-PieDePagina {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Eventos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Eventos_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Facebook {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fcd6761-14c7-431f-a88c-06d9746d49c8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}