#s-78749641-921c-4903-af73-de70f349b7ec > #backgroundBox {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/1876d0e0-c46c-4ae0-9441-33536022b821.jpg');
  position: absolute;
}
#s-78749641-921c-4903-af73-de70f349b7ec > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-in {
  position: absolute;
  top: 109px;
  left: 286px;
  width: 96px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-in .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-in span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-in span#rtr-s-sing-in_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-up {
  position: absolute;
  top: 109px;
  left: 661px;
  width: 83px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-up .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-up span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-up span#rtr-s-sing-up_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-inicio {
  position: absolute;
  top: 654px;
  left: 245px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-inicio .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-inicio span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-inicio span#rtr-s-inicio_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sobreNosotros {
  position: absolute;
  top: 654px;
  left: 360px;
  width: 172px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sobreNosotros .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sobreNosotros span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sobreNosotros span#rtr-s-sobreNosotros_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-contacto {
  position: absolute;
  top: 654px;
  left: 564px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-contacto .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-contacto span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-contacto span#rtr-s-contacto_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-tarifas {
  position: absolute;
  top: 654px;
  left: 694px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-tarifas .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-tarifas span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-tarifas span#rtr-s-tarifas_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Rectangle_1 {
  position: absolute;
  top: 214px;
  left: 94px;
  width: 835px;
  height: 383px;
  background-color: #000000;
  background-image: none;
  opacity: 0.76;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Mapa {
  position: absolute;
  top: 214px;
  left: 95px;
  width: 833px;
  height: 195px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-input_Nombre {
  position: absolute;
  top: 434px;
  left: 181px;
  width: 249px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-input_Nombre .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-input_Nombre input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-input_Nombre_1 {
  position: absolute;
  top: 484px;
  left: 181px;
  width: 249px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-input_Nombre_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-input_Nombre_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-input_Nombre_2 {
  position: absolute;
  top: 533px;
  left: 181px;
  width: 249px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-input_Nombre_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-input_Nombre_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_1 {
  position: absolute;
  top: 429px;
  left: 116px;
  width: 59px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_2 {
  position: absolute;
  top: 479px;
  left: 116px;
  width: 59px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_3 {
  position: absolute;
  top: 528px;
  left: 116px;
  width: 59px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Input_1 {
  position: absolute;
  top: 430px;
  left: 539px;
  width: 312px;
  height: 108px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Input_1 .valign {
  vertical-align: top;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_4 {
  position: absolute;
  top: 425px;
  left: 491px;
  width: 41px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Boton_Enviar {
  position: absolute;
  top: 554px;
  left: 790px;
  width: 57px;
  height: 16px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Boton_Enviar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Boton_Enviar span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Boton_Enviar span#rtr-s-Boton_Enviar_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}