#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-in {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-up {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-inicio {
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sobreNosotros {
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-contacto {
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-tarifas {
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76);
  filter: alpha(opacity=76);
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Mapa {
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-78749641-921c-4903-af73-de70f349b7ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}