#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sing-up {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-inicio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-sobreNosotros {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-contacto {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-tarifas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=76) ;
  filter: alpha(opacity=76) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Mapa {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78749641-921c-4903-af73-de70f349b7ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}