#s-7a60c827-c664-48e3-b0de-bb473f788709 > #backgroundBox {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/1876d0e0-c46c-4ae0-9441-33536022b821.jpg');
  position: absolute;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-in {
  position: absolute;
  top: 109px;
  left: 286px;
  width: 96px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-in .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-in span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-in span#rtr-s-sing-in_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-up {
  position: absolute;
  top: 109px;
  left: 661px;
  width: 83px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-up .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-up span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-up span#rtr-s-sing-up_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-inicio {
  position: absolute;
  top: 654px;
  left: 245px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-inicio .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-inicio span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-inicio span#rtr-s-inicio_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sobreNosotros {
  position: absolute;
  top: 654px;
  left: 360px;
  width: 172px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sobreNosotros .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sobreNosotros span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sobreNosotros span#rtr-s-sobreNosotros_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-contacto {
  position: absolute;
  top: 654px;
  left: 564px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-contacto .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-contacto span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-contacto span#rtr-s-contacto_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-tarifas {
  position: absolute;
  top: 654px;
  left: 694px;
  width: 83px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Geeza Pro,Arial;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-tarifas .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-tarifas span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-tarifas span#rtr-s-tarifas_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Geeza Pro,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Rectangle_1 {
  position: absolute;
  top: 190px;
  left: 336px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  width: 327px;
  height: 358px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 39px 39px 39px 39px;
  opacity: 0.85;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Input_1 {
  position: absolute;
  top: 347px;
  left: 431px;
  width: 200px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Input_2 {
  position: absolute;
  top: 458px;
  left: 431px;
  width: 200px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Boton_lognin {
  position: absolute;
  top: 524px;
  left: 584px;
  width: 87px;
  height: 26px;
  background-color: #6ACB9A;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Boton_lognin .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Boton_lognin span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Boton_lognin span#rtr-s-Boton_lognin_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}