#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-in {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-up {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-inicio {
  -ms-transform: rotate(0.0deg);
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sobreNosotros {
  -ms-transform: rotate(0.0deg);
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-contacto {
  -ms-transform: rotate(0.0deg);
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-tarifas {
  -ms-transform: rotate(0.0deg);
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 39px 39px 39px 39px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
  -ms-transform: rotate(0.0deg);
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Boton_lognin {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 87px;
  height: 26px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}