#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sing-up {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-inicio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-sobreNosotros {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-contacto {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-tarifas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 #s-Boton_lognin {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a60c827-c664-48e3-b0de-bb473f788709 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}