#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-PieDePagina {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Eventos_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Facebook {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Eventos_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}