#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-PieDePagina {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Eventos_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Facebook {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Eventos_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8286f656-99b0-4667-95ac-4921eb6d0a9c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}