#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-PieDePagina {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Eventos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Eventos_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Facebook {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}