#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-PieDePagina {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Table_1 {
  border-collapse: separate;
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Eventos {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Eventos_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Facebook {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-86f28c0c-8448-405a-bae4-25992f666bbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}