#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-PieDePagina {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Facebook {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c1a6643e-3bbf-4313-a6b2-bc2adc9e7f73 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}