#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-PieDePagina {
  position: absolute;
  top: 709px;
  left: 0px;
  width: 1024px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-PieDePagina .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-PieDePagina span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-PieDePagina span#rtr-s-PieDePagina_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 182px;
  height: 768px;
  background-color: #2C4051;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Paragraph_1 {
  position: absolute;
  top: 112px;
  left: 31px;
  width: 135px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_2 {
  position: absolute;
  top: 182px;
  left: 0px;
  width: 179px;
  height: 40px;
  background-color: #2C4051;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_2 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Image_2 {
  position: absolute;
  top: 39px;
  left: 31px;
  width: 79px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_3 {
  position: absolute;
  top: 221px;
  left: 0px;
  width: 179px;
  height: 40px;
  background-color: #2C4051;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_3 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_4 {
  position: absolute;
  top: 260px;
  left: 0px;
  width: 179px;
  height: 40px;
  background-color: #2C4051;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_4 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 181px;
  width: 843px;
  height: 65px;
  background-color: #EFEFEF;
  background-image: none;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_3 {
  position: absolute;
  top: 27px;
  left: 976px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_3 span#rtr-s-Label_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_7 {
  position: absolute;
  top: 64px;
  left: 181px;
  width: 843px;
  height: 646px;
  background-color: #EFEEEE;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos {
  position: absolute;
  top: 127px;
  left: 220px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 303px;
  height: 302px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos .valign {
  vertical-align: top;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos span#rtr-s-Eventos_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos span#rtr-s-Eventos_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_11 {
  position: absolute;
  top: 299px;
  left: 0px;
  width: 179px;
  height: 40px;
  background-color: #2C4051;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_11 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Line_1 {
  position: absolute;
  top: 171px;
  left: 242px;
  width: 177px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Facebook {
  position: absolute;
  top: 724px;
  left: 953px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Facebook .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Facebook span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Facebook span#rtr-s-Facebook_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_4 {
  position: absolute;
  top: 724px;
  left: 915px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_4 span#rtr-s-Label_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_5 {
  position: absolute;
  top: 724px;
  left: 877px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_5 span#rtr-s-Label_5_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_6 {
  position: absolute;
  top: 724px;
  left: 842px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_6 span#rtr-s-Label_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_2 {
  position: absolute;
  top: 184px;
  left: 242px;
  width: 48px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_11 {
  position: absolute;
  top: 217px;
  left: 242px;
  width: 54px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_11 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_11 span#rtr-s-Text_11_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos_2 {
  position: absolute;
  top: 127px;
  left: 581px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 182px;
  height: 102px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos_2 span#rtr-s-Eventos_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Line_3 {
  position: absolute;
  top: 168px;
  left: 593px;
  width: 177px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_9 {
  position: absolute;
  top: 182px;
  left: 590px;
  width: 143px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_9 span#rtr-s-Text_9_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Category_3 {
  position: absolute;
  top: 185px;
  left: 676px;
  width: 98px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Category_3 .valign {
  width: 80px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_14 {
  position: absolute;
  top: 216px;
  left: 708px;
  width: 58px;
  height: 15px;
  background-color: #5CB85C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_14 span#rtr-s-Button_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_6 {
  position: absolute;
  top: 185px;
  left: 317px;
  padding-left: 5px;
  width: 118px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_12 {
  position: absolute;
  top: 253px;
  left: 242px;
  width: 54px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_12 span#rtr-s-Text_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_8 {
  position: absolute;
  top: 218px;
  left: 317px;
  padding-left: 5px;
  width: 118px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_9 {
  position: absolute;
  top: 254px;
  left: 317px;
  padding-left: 5px;
  width: 118px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_13 {
  position: absolute;
  top: 285px;
  left: 242px;
  width: 54px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_13 span#rtr-s-Text_13_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_10 {
  position: absolute;
  top: 286px;
  left: 317px;
  padding-left: 5px;
  width: 118px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_11 {
  position: absolute;
  top: 325px;
  left: 317px;
  padding-left: 5px;
  width: 118px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Input_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_14 {
  position: absolute;
  top: 324px;
  left: 242px;
  width: 54px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_14 span#rtr-s-Text_14_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Category_2 {
  position: absolute;
  top: 365px;
  left: 317px;
  width: 123px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Category_2 .valign {
  width: 105px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_15 {
  position: absolute;
  top: 363px;
  left: 239px;
  width: 54px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_15 span#rtr-s-Text_15_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_15 {
  position: absolute;
  top: 423px;
  left: 456px;
  width: 58px;
  height: 15px;
  background-color: #5CB85C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_15 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_15 span#rtr-s-Button_15_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_8 {
  position: absolute;
  top: 268px;
  left: 311px;
  width: 546px;
  height: 233px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.83;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 49px;
  font-size: 26.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 26.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_12 {
  position: absolute;
  top: 338px;
  left: 0px;
  width: 179px;
  height: 40px;
  background-color: #2C4051;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_12 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_13 {
  position: absolute;
  top: 377px;
  left: 0px;
  width: 179px;
  height: 40px;
  background-color: #2C4051;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_13 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}