#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-PieDePagina {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Facebook {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Eventos_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 58px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 58px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=83);
  filter: alpha(opacity=83);
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-cf0a0bcf-af34-49ca-a386-44cd1ad428bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}