#s-e65baf21-7ac3-4b73-954d-881550020dcc #s-sing-in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e65baf21-7ac3-4b73-954d-881550020dcc #s-sing-up {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e65baf21-7ac3-4b73-954d-881550020dcc #s-inicio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e65baf21-7ac3-4b73-954d-881550020dcc #s-sobreNosotros {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e65baf21-7ac3-4b73-954d-881550020dcc #s-contacto {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e65baf21-7ac3-4b73-954d-881550020dcc #s-tarifas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e65baf21-7ac3-4b73-954d-881550020dcc #s-Elipse_Invitado {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
  filter: alpha(opacity=78);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e65baf21-7ac3-4b73-954d-881550020dcc #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=83);
  filter: alpha(opacity=83);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e65baf21-7ac3-4b73-954d-881550020dcc #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=83);
  filter: alpha(opacity=83);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e65baf21-7ac3-4b73-954d-881550020dcc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}