@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Regular.woff") format("woff"), 
       url("../fonts/Roboto-Regular.ttf")  format("truetype"),
       url("../fonts/Roboto-Regular.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Pacifico-Regular";
  src: url("../fonts/Pacifico-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Pacifico-Regular.woff") format("woff"), 
       url("../fonts/Pacifico-Regular.ttf")  format("truetype"),
       url("../fonts/Pacifico-Regular.svg#svgFontName") format("svg");
}